/* Layouts.css */

/* Wrapper for sidebar and content */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Sidebar styles */
#sidebar {
    width: 250px;
    min-width: 250px;
    background-color: #f8f9fa;
    transition: all 0.3s;
}

/* Sidebar collapse styles for smaller screens */
@media (max-width: 768px) {
    #sidebar {
        width: 20px;
        min-width: 20px;
    }
    .sidebar-text {
        display: none;
    }
    .sidebar-icon {
        font-size: 1rem;
        text-align: center;
        width: 100%;
    }
}

/* Content area styles */
#content {
    flex-grow: 1;
    padding: 20px;
    background-color: #fff;
    overflow-x: auto; /* Ensure content area can scroll horizontally */
}

/* Sidebar link styles */
.sidebar-icon {
    font-size: 1.2rem;
    margin-right: 10px;
}

.sidebar-text {
    font-size: 1rem;
}

/* Navbar adjustments */
.navbar {
    z-index: 1000;
    width: 100%; /* Make navbar take full width */
    position: sticky; /* Ensure navbar stays at the top */
    top: 0;
}

/* Table responsiveness */
.table-responsive {
    overflow-x: auto; /* Enable horizontal scrolling */
}

.table.table-striped.table-light{
    background-color:#a9b7c5;
}



/* Ensure content area doesn't shrink below sidebar width */
@media (max-width: 768px) {
    .wrapper {
        flex-direction: column;
    }
    #content {
        margin-top: 20px; /* Add margin-top when the layout becomes column */
    }
}

.sidebar-icon{
    margin-right: 0.5rem;
}

.btn-grp {
    display: flex;
    gap: 10px; /* Adds space between buttons */
    margin-top: 15px;
    flex-direction: column; /* Aligns buttons vertically */
    gap: 10px;
}

.btn-grp .btn {
    font-size: 14px;         /* Adjusts font size */
    border-radius: 4px;      /* Rounds the corners */
    padding: 4px 8px;        /* Reduces padding to decrease button height */
    width: 130px;            /* Set a fixed width */
    text-align: left;
    line-height: 1.2;        /* Adjusts line height for further control */
    height: auto;
}

#btn-back{
    font-size: 14px;         /* Adjusts font size */
    border-radius: 4px;      /* Rounds the corners */
    padding: 4px 8px;        /* Reduces padding to decrease button height */
    width: auto;            /* Set a fixed width */
    text-align: left;
    line-height: 1.2;        /* Adjusts line height for further control */
    height: auto;
}


.table thead#thead th {
    background-color: #6e7379; 
    
    color: rgb(12, 11, 11); 
}







